/*override bootstrap*/
body{
    overflow-y:scroll;
}
.btn.btn-primary{
	transition: .5s;
}
.btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary{
	color: unset;
	background-color: unset;
}
.btn.btn-primary:hover{
	color:#fa242a;
	background-color: #FFFFFF;
}
.btn.btn-primary {
    color: #fff;
    background-color: #d8d7d5;
    border-color: #cfcecd;
    box-shadow: 0 0 10px lightgrey;
}

/*自定義CSS*/
.navbar-frame .container{
    position: relative;
}
.buy.btn.btn-primary{
	background:#fa242a;
	color:#ffffff;
}

.show-up-info{
	background: #fa242a;
    color: #ffffff;
    position: absolute;
    top: 50px;
    right: 20px;
    width: 23vh;
    z-index: 9999;
    border-radius: 8px;
    padding: 1vh;
    font-family: helvetica;
    display: none;
    /*opacity: 0;*/
}
.show.show-up-info{
	opacity: 1;
	transition: all 5s;
}

.hide.show-up-info{
	opacity: 0;
	transition: all 5s;
}
.product_detail .p_size{
    color:#c4c4c4;
}
.product_detail .p_size:hover{
    cursor:no-drop;
}
.product_detail .p_size.avalible{
    background-color: #ddd;
    cursor: pointer;
    color:black;
}
.product_detail .p_size.active{
    background: red;
    cursor: pointer;
    color:black;
}

